.heading {
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-bottom: 56px;

  @include mq(md){
    margin-bottom: 80px;
  }

  

  &::before,
  &::after {
    content: "";
    width: 32px;
    height: 6px;
    border-top: 2px solid $mainColor;
    border-bottom: 2px solid $mainColor;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);

    @include mq(md){
      width: 80px;
      height: 12px;
      border-top: 4px solid $mainColor;
      border-bottom: 4px solid $mainColor;
    }
  }

  &::before {
    margin-left: -40px;

    @include mq(md){
      margin-left: -96px;
    }
  }

  &::after {
    margin-left: 8px;

    @include mq(md){
      margin-left: 16px;
    }
  }
}

.title {
  text-align: center;
  font-weight: 500;
  position: relative;
  line-height: 1;
  margin-top: 48px;
  margin-bottom: 69px;

  @include mq(md){
    margin-bottom: 100px;
  }

  

  &::after {
    content: "";
    border: 6px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 13px solid $mainColor;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 13px;

    @include mq(md){
      border: 16px solid transparent;
      border-top: 24px solid $mainColor;
      margin-top: 24px;
    }

  }
}

